.extensionText {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

.removeContainer {
    position: absolute;
    height: 25px;
    width: 25px;
    z-index: 10000;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}

.popup_info {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.popup_danger {
    color: #c81815;
    background-color: #F3ABA0;
    border-color: #fa2d1d
}

.popup {
    transition: all 0.3s ease-out 0.5s;
    z-index: 10000;
    position: fixed;
    margin-left: 30%;
    text-align: center;
    top: 20px;
    width: 40%;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.popup .removeContainer {
    top: 10px;
    right: 10px;
    height: 10px;
    width: 10px;
    display: block;
}

.transperent {
    opacity: 0;
}

.completions-container {
    position: absolute;
    top: 30px;
    overflow: hidden;
    max-height: 100px;
}

.completions-container .bookmark-link-completions {
    padding: 3px;
    font-family: Arial, sans-serif;
    line-height: 20px;
}

.bookmark-tree-control {
   margin-bottom: 10px;
    height: 23px !important;
    min-height: 23px !important;
    padding: 0px !important;
}

.bookmarkTree-hide-comment {
    background-color: transparent !important;
}

