body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 8vh;
}

.content {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#arrow {
    position: absolute;
    margin: auto;
     bottom: 0;
    left: 0; right: 0;
    width: 100px;
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    background-image: url("/images/arrow_down.jpg");
}

@-webkit-keyframes bounce {
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
    80% { -webkit-transform: translateY(-10px); }
}

.content-container {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 50px;
}

.column {
    width: 46%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}

.row {
    padding-top: 30px;
    clear: both;
}

.welcome-image {
    width: 85%;
}

.welcome-text {
    font-size: 20px;
    text-align: justify;
}



