<div class="panel panel-default">
    <div class="panel-heading">Comments</div>
    <div class="fixed-height-structure">
        <div class="panel-body border-bottom"> Notification <i title="remove" class="pull-right glyphicon glyphicon-remove pointer"></i></div>
        <div class="panel-body border-bottom"> Panel content <i title="remove" class="pull-right glyphicon glyphicon-remove pointer"></i></div>
        <div class="panel-body border-bottom"> Panel content <i title="remove" class="pull-right glyphicon glyphicon-remove pointer"></i></div>
    </div>
 </div>