<div class="panel panel-default">
    <div class="panel-heading">Edit</div>
    <div class="panel-body">
        <div class="container">
            <div class="row media">
                <input type="text" maxlength = 50 placeholder="Bookmark name" class="form-control" ng-model="bookmark.name"/>
            </div>

            <div class="row media">
                <div>
                    <select name="" id="" class="form-control">
                        <option value="1">Default</option>
                        <option value="1">New bookmark</option>
                    </select>
                </div>
            </div>

            <div class="row media">
                <div class="col-4 text-center">
                    <span class="glyphicon glyphicon-pencil edit-icons pointer" title="Mark text" ng-click="mark()"></span>
                </div>
                <div class="col-4 text-center">
                    <span class="glyphicon glyphicon-comment edit-icons pointer" title="Create comment" ng-click="comment()"></span>
                </div>
                <div class="col-4 text-center">
                    <span class="glyphicon glyphicon-pushpin edit-icons pointer" title="Make link with other bookmark" ng-click="bookmark()"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<button style="width: 100%;" class="btn btn-primary " ng-click="save()">Save bookmark</button>

<button  ng-show="isBookmarkForUrl" style="width: 100%;" class="btn btn-danger media"><i class="glyphicon glyphicon-remove" ></i> Remove Bookmark </button>
