<div ng-show="showErrorLoad" class="row text-center" style="margin-bottom: 10px;">
    <h4><small class="error" >Can not get friends list, please report issue.</small></h4>
</div>
<div class="form-group">
    <button style="width: 100%;" class="btn btn-primary" ng-click ="addNewFriends()">Add new friends</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">My Friends</div>
    <div class="restrict-height">
        <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<span class="glyphicon glyphicon-search"></span>
				</span>
            <input type="text" class="form-control" ng-model="friendName" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <div class="panel-body border-bottom" ng-repeat="friend in friends | filter:friendName track by friend.id">
            {{friend.name  | limitTo:20}}
            <span class="badge bg-important" ng-show="isOwner(friend.id)">owner</span>
            <span class="badge bg-important" ng-show="isObserver(friend.id)">observer</span>
            <span ng-show="bookmarkId && currentUserIsOwner">
                <span ng-show="hasRight(friend.id)" title="Remove right" class="glyphicon glyphicon-remove pull-right pointer" aria-hidden="true" style="margin-left: 10px;" ng-click="removeRight(friend.id)"></span>
                <span title="Share without ownership" class="glyphicon glyphicon-share pull-right pointer" aria-hidden="true" style="margin-left: 10px;" ng-click="shareWithoutOwnership(friend.id)"></span>
                <span title="Share with ownership" class="glyphicon glyphicon-share-alt pull-right pointer" aria-hidden="true" ng-click="shareWithOwnership(friend.id)"></span>
            </span>
        </div>
    </div>
</div>