<div class="panel panel-default">
    <div class="panel-heading">Friends</div>
    <div class="restrict-height-friends">
        <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<span class="glyphicon glyphicon-search"></span>
				</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <div class="panel-body border-bottom">
            <span>Panel content</span>
            <span title="Share" class="glyphicon glyphicon-share-alt pull-right pointer" aria-hidden="true"></span>
        </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
    </div>
</div>