<div ng-show="showErrorLoad" class="row text-center" style="margin-bottom: 10px;">
    <h4><small class="error" >Can not get friends list, please report issue.</small></h4>
</div>
<div class="form-group">
    <button style="width: 100%;" class="btn btn-primary" ng-click ="addNewFriends()">Add new friends</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">My Friends</div>
    <div class="restrict-height">
        <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<span class="glyphicon glyphicon-search"></span>
				</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <div class="panel-body border-bottom">
            <span>Panel content</span>
            <span title="Share" class="glyphicon glyphicon-share-alt pull-right pointer" aria-hidden="true"></span>
        </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
    </div>
</div>