<div ng-show="showErrorLoad" class="row text-center" style="margin-bottom: 10px;">
    <h4><small class="error" >Can not get notifications, please report issue.</small></h4>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Latest notifications</div>
    <div class="restrict-height">
        <div class="panel-body border-bottom"> Notification </div>
        <div class="panel-body border-bottom"> Panel content </div>
        <div class="panel-body border-bottom"> Panel content </div>
    </div>
</div>