<html ng-app="app">
	<head>
		<title></title>
		<link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="/css/style.css"/>

		<script src="/js/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/js/vendor/bluebird/js/browser/bluebird.min.js"></script>
		<script src="/js/vendor/moment/moment.js"></script>
		<script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/vendor/angular/angular.min.js"></script>

		<script src="/js/shared/messageTypes.js"></script>

		<script src="/js/shared/Utils.js"></script>
		<script src="/js/controllers/appController.js"></script>
		<script src="/js/services/tabsService.js"></script>
		<script src="/js/services/preferencesService.js"></script>
		<script src="/js/services/userService.js"></script>
		<script src="/js/services/friendsService.js"></script>
		<script src="/js/services/branchService.js"></script>
		<script src="/js/services/bookmarkService.js"></script>
		<script src="/js/services/notificationsService.js"></script>
		<script src="/js/directives/notifications.js"></script>
		<script src="/js/directives/openAllBookmarksPage.js"></script>
		<script src="/js/directives/colorModel.js"></script>
		<script src="/js/directives/loader.js"></script>
		<script src="/js/directives/friends.js"></script>
		<script src="/js/directives/settings.js"></script>
		<script src="/js/directives/edit.js"></script>
		<script src="/js/directives/comments.js"></script>
		<script src="/js/directives/bookmarks.js"></script>
		<script src="/js/directives/login.js"></script>
		<script src="/js/directives/logout.js"></script>
	</head>
	<body  style="width: 480px;"  ng-controller="appController">
		<header class="panel-body text-center">
			<ul class="nav navbar-noncollapse">
				<li ng-if="user.avatar" class="pointer" ng-click="openProfile()"><img ng-src="{{user.avatar}}" alt="avatar" class="avatar"/></li>
				<li><span class="header">Bookmark <span class="accent">Tree&nbsp;&nbsp;</span></span></li>
				<li class="pull-right">
					<login class="pull-right" style="color: white; margin-right: 10px;"  ng-show="!user" ng-click="performLogin()"></login>
					<logout class="pull-right" style="color: white; margin-right: 10px;" ng-click="performLogout()" ng-show="user"></logout>
				</li>
			</ul>
		</header>

		<div class="not-logged-wrapper text-center" ng-show="notLoggedError || showErrorLoad">
			<span ng-show="notLoggedError"><i class="glyphicon glyphicon-user"></i><br/>You are not logged in</span>
			<span ng-show="showErrorLoad"><i class="glyphicon glyphicon-alert"></i>&nbsp;Connection error!</span>
		</div>
		<ul class="nav nav-tabs">
			<li class="active" ng-show="isOwner"><a data-toggle="tab" href="#home">Home</a></li>
			<li ng-class="{active: !isOwner}"><a data-toggle="tab"  href="#structure">Structure</a></li>
			<li><a data-toggle="tab" href="#friends">Social</a></li>
			<li><a data-toggle="tab" href="#notifications">Notifications &nbsp;<span class="badge" ng-show="size > 0">{{size | limitTo:2}}</span></a></li>
			<li><a data-toggle="tab" href="#settings">Settings</a></li>
		</ul>

		<div class="tab-content media container">
			<div id="home" class="tab-pane fade in active" ng-show="isOwner">
				<ng-include src="'/html/pages/home.html'"></ng-include>
			</div>

			<div id="structure" class="tab-pane fade in" ng-class="{active: !isOwner}">
				<ng-include src="'/html/pages/structure.html'"></ng-include>
			</div>

			<div id="friends" class="tab-pane fade">
				<ng-include src="'/html/pages/friends.html'"></ng-include>
			</div>

			<div id="notifications" class="tab-pane fade">
				<ng-include src="'/html/pages/notifications.html'"></ng-include>
			</div>

			<div id="settings" class="tab-pane fade">
				<ng-include src="'/html/pages/settings.html'"></ng-include>
			</div>
		</div>
	</body>
</html>