<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/icon19.png" />
    <link rel="stylesheet" href="/css/welcome.css"/>
    <link  rel="stylesheet" href="/js/vendor/funkyrobot-angular-slidescroll/angular-slidescroll.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

    <script src="/js/vendor/angular/angular.min.js"></script>
    <script src="/js/vendor/funkyrobot-angular-slidescroll/angular-slidescroll.js"></script>
    <script src="/js/welcome/main.js"></script>
    <title>Welcome!</title>
</head>
<body ng-app="welcome" ng-controller="main">
    <slidescroll>
        <slide>
            <div class="container">
                <div class="content">
                    <h1>Welcome</h1>
                    <h1>to Bookmark Tree chrome extension</h1>
                    <img src="/images/icon128.png" alt="bookmark tree"/>
                    <div id="arrow" ng-click="down()"></div>
                </div>
            </div>
        </slide>
        <slide>
            <div class="content-container">
                <div>
                    <div class="column welcome-text"><b>Bookmark tree chrome extension</b> - gives you ability
                    to make you bookmarks live. With the help of this extension you can easily annotate any text content,
                    add comments or add link to other source. After that bookmark becomes more than just a bookmark -
                    it contains the snapshot of your thoughts.
                    </br>
                    After saving bookmarks are available from you any device at any time</div>
                    <div class="column"><img class="welcome-image" src="/images/welcome_sketch.jpeg" alt="sketch"/></div>
                </div>
                <div class="row">
                    <div class="column"><img class="welcome-image" src="/images/welcome_collaboration.JPG" alt="share"/></div>
                    <div class="column welcome-text">With <b>Bookmark tree chrome extension</b> you can share you bookmarks. Grant write
                    or just view rights to you friends. You can easily collaborate on bookmark. After user performes modification on
                    shared bookmark - you will get notification. Thus, this is easy to tracks changes.</div>
                </div>

            </div>
        </slide>
        <slide>
            <div class="content-container">
                <div>
                    <div class="column">
                        <img style="width: 100%;" src="/images/scrrenshoot.JPG" alt=""/>
                    </div>
                    <div class="column welcome-text">
                        <p style="margin-top: 0px;">
                            <b>Bookmark tree chrome extension</b> - has simple yet powerful tools.
                        </p>
                        <p>
                            <img src="/images/mark.png" alt=""/> With tool "pen" - you can mark any text you want. You also can change its color
                            on the Preference tab.
                        </p>
                        <p>
                            <img src="/images/comment.png" alt=""/> With tool "comment" - you can leave any comment you want.
                        </p>
                        <p>
                            <img src="/images/bookmark.png" alt=""/> Tool "link" allows you to create a link to another web page.
                        </p>
                        With the help of these tools you can make information of the bookmark as useful as possible.
                        From the "home" tab you also can navigate to the web-app to see you bookmarks.
                    </div>
                </div>
            </div>
        </slide>
        <slide>
            <div class="content-container">
                <div>
                    <div class="column welcome-text">
                        <p style="margin-top: 0px;">
                            <b>Bookmark tree</b> allows you easily share you annotated bookmarks with the world.
                            You can either share bookmark with <b>read only</b> rights or with <b>owner</b> rights.
                            If you shared your bookmark with owner rights - you friend will be able to modify it.
                            After modifications all owners of the bookmark will get <b>notifications</b>.
                        </p>
                    </div>
                    <div class="column">
                        <img src="/images/social.JPG" style="width: 100%;" alt="social"/>
                    </div>
                </div>
            </div>
        </slide>
        <slide>
            <div class="content-container">
                <div>
                    <div class="column">
                        <img src="/images/settings.JPG" style="width: 100%" alt="settings"/>
                    </div>
                    <div class="column welcome-text">
                        You can easily tune extension as you wish. On the <b>settings</b> tab you can change color of the marker.
                        Also you can disable comments, links or markers. You also can set custom synchronization period.
                        <b>Synchronization</b> period is the period your extension synchronizes with cloud. So, after making bookmark on the
                        one machine, it will be available after given synchronization period on your other machine automatically.
                    </div>
                </div>
            </div>
        </slide>
        <slide>
            <div class="container">
                <div class="content">
                    <h2>That`s it!</h2>
                    <h2>You are ready to begin to use the extension.</h2>
                    <h2>To start right now, you have to register first.</h2>
                    <div id="arrow" ng-click="down()" style="position: relative;"></div>
                    <h2>
                        <a href="http://bookmarktrees.com/" style="text-decoration: none; color: black">Register</a>
                    </h2>
                </div>
            </div>
        </slide>

    </slidescroll>
</body>
</html>